.event-page{
  &__container{
    width: 1200px;
    margin: 0 auto;
  }
  &__col{
    margin: 50px 0;
  }
  .work-img{
    margin-bottom: 20px;
    img{
      width: px;
    }
    text-align: center;
  }
  .content{
    display: flex;
    div:nth-child(1){
      flex: 1;
    }
    &__img{
      width: 200px;
    }
    &__text{
      padding-left: 10px;
      li:nth-child(1) {
        font-weight: bold;
      }
    }
  }
}