.member-page{
  &__container{
    max-width: 1200px;
    margin: 10px auto;
  }
  &__col{
    margin: 10px 0;
  }
  .work-img{
    margin-bottom: 20px;
    img{
      width: 1200px;
    }
    text-align: center;
  }
  .content{
    // display: flex;
    background: red;
    .mentor-list{
      
    }
    &__img{
      width: 200px;
    }
    &__text{
      padding-left: 10px;
    }
  }
}