.home-page{
  &__container{
    width: 1200px;
    max-width: 1200px;

    margin: 0 auto;
  }
  // button
  &__btn-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    div{
      cursor: pointer;
      width: 27%;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-background);
      color: var(--color-text-primary);
      font-weight: 500;
    }
  }
  #btn{
    &--active{
      background-color: var(--color-background);
      color: white;
    }
  }

  //form
  &__content{
    min-height: 50vh;
    margin-bottom: 50px;
  }
}