.heading{
  width: 100%;
  height: 100px;
  background: #1B1261;
  border-bottom: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0px;
  z-index: 5;

  .heading-lang{
    width: 100px;
    display:flex;
    justify-content: center;
    align-items:center;

    margin-left: 50px;
    
    li{
      cursor: pointer;
      color: white;
      margin: 0 10px;

      &:hover{
        color: #42E8E0;
      }
    }
    .active-lang{
      color: #42E8E0;
    }
  }

  .heading-task{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
    .page-active{
      background: #42E8E0;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .heading-task li {
    display: flex;
  }
  .heading-task li a{
    padding: 0px 20px;
    color: white;

    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    color: white;
    overflow: hidden;

    background: linear-gradient(to right, #42E8E0, #42E8E0 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 300ms ease;
    &:hover {
      background-position: 0 100%;
    }
  }
  
  #btn-app{
    padding: 10px 20px;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-radius: 10px;
    margin-right: 15px;
    font-size: 15px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      color: white;
    }
  }
   //buttons
 
}