.banner{
  background: radial-gradient(#0F054C, #0F054C);
  position: relative;
  // container
  &__container{
    width: 1200px;
    max-width: 1920px;

    margin: auto;
    display: flex;
    position: relative;
  }
  &__image{
    left: 0;
  }
  &__help-btn{
    border:1px solid transparent;
    cursor: pointer;
    padding: 10px 20px;

    margin-top: 10px;
    text-align:center;

    background: var(--color-text-secondary);
    color: black;
    transition: all 0.2s linear 0s;
    position: relative;
  
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 30px;
      background-color: rgba(#42E8E0,0.1);
      border-radius: 0 50% 50% 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
    &:hover {
      text-indent: 30px;
      background: none;
      border: 1px solid var(--color-text-secondary);
      color: white;
      &:before {
        transform: scale(1,1);
        text-indent: 0;
      }
    }
  }
  &__text{
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    right: 20px;
    color: white;

    &-brandname{
      font-size: 60px;
    } 
    &-desc{
      margin: 20px 0;
      color: var(--color-text-secondary);
    }
    &-tags{
      li{
        font-weight: 500;
      }
    }
  }
  //buttons
  &__btn{
    background: red;
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px 20px;
    background-color: var(--color-text-secondary);
    
    border: 4px solid white;
    border-radius: 5px;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.2s 0s ease;
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    &:hover{
      background: white;
      border-color: var(--color-text-secondary);
    }
  }

}