.banner{
  background: radial-gradient(#0F054C, #0F054C);
  position: relative;
  // container
  &__container{
    width: 1200px;
    max-width: 1920px;

    margin: auto;
    display: flex;
    position: relative;
  }
  &__image{
    left: 0;
  }
  &__btn{
    display: flex;
  }
 
 
  &__help-btn{
    border:1px solid transparent;
    cursor: pointer;
    padding: 10px 20px;

    margin-top: 10px;
    width: 220px;
    text-align:center;

    // background: var(--color-text-secondary);
    color: white;
    transition: all 0.2s linear 0s;
    position: relative;
    border: 1px solid var(--color-text-secondary);
  
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 30px;
      background-color: rgba(#42E8E0,0.1);
      border-radius: 0 50% 50% 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
    // &:hover {
    //   text-indent: 30px;
    //   background: none;
    //   border: 1px solid var(--color-text-secondary);
    //   color: white;
    //   &:before {
    //     transform: scale(1,1);
    //     text-indent: 0;
    //   }
    // }
  }
  &__use-btn{
    cursor: pointer;
    width: 220px;
    padding: 10px 50px;

    margin-top: 10px;
    text-align:center;
    
    transition: all 0.2s linear 0s;
    position: relative;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    // border:1px solid #00dbde;
    border-radius: 10px;
    margin-left: 5px;
    &:hover{
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  &__text{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    right: 1px;
    color: white;

    &-brandname{
      font-size: 60px;
    } 
    &-desc{
      margin: 20px 0;
      color: var(--color-text-secondary);
    }
    &-tags{
      margin-bottom: 10px;
      li{
        font-weight: 100;
      }
      i{
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }
}